#div_centrado{
    height: auto;
    width: 400px;
    margin: auto;

}
#contenedor_users{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

#cont_rel_a_u{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: azure;
    width: 500px;
    margin: auto;
}